/*-------------Top Offers---------------*/
#topoffers {
    width: 100%;
    /* border: 1px solid black; */
    margin: auto;
  }
  
  #topoffers > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
  }
  
  #topoffers > div > div > img {
    width: 100%;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 15px;
    cursor: pointer;
  }
  
  #topoffers > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #topoffers > h2 {
    color: rgb(51, 50, 50);
  
    margin-bottom: 10px;
  
  }
  
  /*----------------Fruits & Vegetables--------------*/
  #fruitvegetables {
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
  }
  
  #fruitvegetables > h2 {
    color: rgb(51, 50, 50);
  
    margin-bottom: 10px;
  
  }
  
  #fruitvegetables > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
  }
  
  
  #fruitvegetables > div > div > img {
    width: 100%;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    cursor: pointer;
  }
  
  #fruitvegetables > h2 + hr {
    border: 0.5px solid #ebebeb;
    margin-bottom: 20px;
  }
  #fruitvegetables > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /*-------------Your Daily Staples------------*/
  #yourdailystaples {
    width: 100%;
    /* border: 1px solid black; */
    margin: auto;
  }
  
  #yourdailystaples > h2 {
    color: rgb(51, 50, 50);
   
    margin-bottom: 10px;
    
  }
  
  #yourdailystaples > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto);
    gap: 10px;
  }
  
  #yourdailystaples > div > div > img {
    width: 100%;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 15px;
    cursor: pointer;
  }
  
  #yourdailystaples > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /*-------------------beverages-----------------*/
  #beverages {
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
  }
  
  #beverages > h2 {
    color: rgb(51, 50, 50);
  
    margin-bottom: 10px;
    
  }
  
  #beverages > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
  }
  
 
  
  #beverages > div > div > img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(196, 193, 193);
    cursor: pointer;
  }
  
  #beverages > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /*----------------Snacks Store----------------*/
  #snacksstore {
    width: 100%;
    /* border: 1px solid black; */
    margin: auto;
  }
  
  #snacksstore > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
  }
  
  #snacksstore > div > div > img {
    width: 100%;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 15px;
    cursor: pointer;
  }
  
  #snacksstore > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #snacksstore > h2 {
    color: rgb(51, 50, 50);
    
    margin-bottom: 10px;
    
  }
  
  #snacksstore > h2 + hr {
    border: 0.5px solid #ebebeb;
    margin-bottom: 20px;
  }
  
  /*---------------Cleaning & Household-----------------*/
  
  #cleaninghousehold {
    width: 100%;
    /* border: 1px solid black; */
    margin: auto;
  }
  
  #cleaninghousehold > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    gap: 15px;
  }
  
  #cleaninghousehold > div > div > img {
    width: 100%;
    border: 1px solid rgb(187, 185, 185);
    border-radius: 15px;
  }
  
  #cleaninghousehold > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
  }
  
  #cleaninghousehold > h2 {
    color: rgb(51, 50, 50);
  
    margin-bottom: 20px;
   
  }
  
  /*------------------Beauty and Hygiene------------------*/
  #beautyandhygiene {
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
  }
  
  #beautyandhygiene > h2 {
    color: rgb(51, 50, 50);
  ;
    margin-bottom: 10px;
   
  }
  
  #beautyandhygiene > div {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    grid-template-rows: repeat(auto);
    
    gap: 10px;
  }
  #beautyandhygiene > div > div > img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(190, 190, 190);
    cursor: pointer;
  }
  
  #beautyandhygiene > h2 + hr {
    border: 0.5px solid #ebebeb;
    margin-bottom: 20px;
  }
  #beautyandhygiene > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /*----------------Home and Kitchen--------------*/
  #homeandkitchen {
    width: 100%;
    /* border: 1px solid black; */
    margin: auto;
  }
  
  #homeandkitchen > h2 {
    color: rgb(51, 50, 50);
 
    margin-bottom: 10px;
  
  }
  
  #homeandkitchen > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto);
    gap: 10px;
  }
  
  #homeandkitchen > div > div > img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #homeandkitchen > div > div > img {
    width: 100%;
    border: 1px solid rgb(194, 191, 191);
    border-radius: 15px;
    cursor: pointer;
  }
  
  #homeandkitchen > h2 + hr {
    border: 0.5px solid #ebebeb;
    margin-bottom: 20px;
  }
  