.sa_links_container{
    display: flex;
    justify-content: center;
    align-items: center;
    .link_box{
        width: 140px;
        height: 50px;
        margin: 0 35px;
        background-color: lightgray;
        text-align: center;
        border-radius: 10px;
        a{
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-weight: 700;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    #ayurveda{
        background-color: darkolivegreen;
        padding: 10px 0 0 0;
        a{
            color: rgb(255, 255, 255);
        }
    }
    #combo{
        padding: 10px 0 0 0;
    }
}

#sa_bank_cards{
    h4{
        margin: 30px 40px;
        font-weight: 700;
    }
    .sa_cards{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }
    .sa_img_card{
        width: 310px;
        height: 190px;
        margin: 0 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
}